*{
    margin: 0;
    padding: 0;
    color: white ;
}
.header{
    background-color: #04A357;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30vh;
}
.header img{
    width: 7%;
    height: auto;
    margin-left: 10vh;
}
.menu{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 10vh;
}
.menu a{
    width: 40%;
    height: auto;
    font-size: 24px;
}
.corpo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.quadro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    width: 20%;
    height: 60vh;
    margin: 2%;
}
.quadro p{
    font-size: xx-large;
    margin-left: 5%;
    margin-right: 3%;
    width: auto;
    height: 80%;
}
.quadro h1{
    font-size: 28px;
}
#video{
    width: 92%;
    height: 80vh;
    margin-bottom:1% ;

}
iframe{
    width: 100%;
    height: 100%;
}
.quadro img{
    width: 100%;
    height: 100%;
}
footer{
    background-color: #04A357;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 15vh;
}
@media (max-width: 760px){
    .header{
        height: 15vh;
    }
    .header img{
        width: 15%;
    }
    .menu{
        width: 30%;
    }
    .menu a{
        font-size: 30px;
    }
    .quadro{
        width: 45%;
        height: 35vh;
        margin-bottom: 5%;
    }
    #video{
        height: 30vh;
    }
    footer{
        height: 10vh;
    }
}